{% extends 'basefile.html' %}
{% block myblock%}
<div class="row">
    <div class="  py-4 col-md-5 mx-auto mt-5">
        <div class="mt-4" >
            <form action="" method="POST">
                {%csrf_token%}
                <div class=" text-dark">
                    <div class="form-group mb-2">
                        <label for="" >Enter Name</label>
                        <input type="text" name="cname" class="form-control" placeholder="Enter Name">

                    </div>
                    <div class="form-group mb-2">
                        <label for="" >Enter Email</label>
                        <input type="email" name="cemail" class="form-control" placeholder="Enter Email">

                    </div>
                    <div class="form-group mb-4">
                        <label for="" ></label>
                        <textarea type="text" name="cmsg" class="form-control" rows="5" placeholder="Enter Message"></textarea>

                    </div>
                    <div class="form-group">
                        <input type="Submit" class=" btn btn-outline-success form-control" placeholder="enter name">

                    </div>


                </div>
            </form>

        </div>


    </div>

</div>

{%endblock%}