{% extends 'basefile.html'%}
{%block myblock%}
<div class="row">
    <div class="col-md-4 card p-5 mx-auto" style="margin-top: 200px;">
        <label for="">Download Your Video</label>
        <a href= "/media/{{status}}" class="btn btn-outline-success form-control mt-2"  name="video" id="dwn" download>Download</a>

    </div>

</div>

<form action="" method="POST" style=" visibility: hidden;" >
    {% csrf_token %}
    <input type="submit" id="submit">
    
</form>

<script>
    $("#dwn").click(function(){
        $("#submit").click()
        
    })
</script>

{%endblock%}