{% extends 'basefile.html'%}


{%block myblock%}
<div class="border rounded1" style="height: 298px;background-color: #e242db;"></div>
    <div class="col-md-4 mx-auto" style="margin-top: -150px;">
        <form class="   jello animated" method="post">
            {% csrf_token %}
            <h2 class="text-center">Gdownload</h2>
            <label for="">Enter your link here</label>
            <input type="text" name="ytxt" class="form-control"id="inp" >
            <input type="submit" id="smt" placeholder="Download" class=" mt-5 btn btn-success form-contol" > 
        </form>

    </div>








<!-- <div class="row mt-5 " >
    <div class="col-md-12   ">
        

        <div class="col-md-4 text-danger bg-danger p-2 mx-auto">
            <div class="card bg-dark">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Enter link here </label>
                        <input type="text" name="ytxt" placeholder="Enter link here " id="inp" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="submit" id="smt" class="btn btn-outline-success form-control">
    
                    </div>
                </form>


            </div>

        </div>
        



    </div>

</div> -->
{%endblock%}